<div class="contenedor">
    <div class="widget">
        <div class="icono">
            <img src="./assets/almacenes.png" class="icon" alt="Imagen Inventario">
        </div>
        <div class="valor">
            <div class="arriba">55      </div>
            <div class="abajo">Zona A</div>
        </div>
    </div>
    <div class="widget">
        <div class="icono">
            <img src="./assets/almacenes.png" class="icon" alt="Imagen Inventario">
        </div>
        <div class="valor">
            <div class="arriba">23</div>
            <div class="abajo">Zona B</div>
        </div>
    </div>
    <div class="widget">
        <div class="icono">
            <img src="./assets/almacenes.png" class="icon" alt="Imagen Inventario">
        </div>
        <div class="valor">
            <div class="arriba">13</div>
            <div class="abajo">Zona C</div>
        </div>
    </div>
    <div class="widget">
        <div class="icono">
            <img src="./assets/almacenes.png" class="icon" alt="Imagen Inventario">
        </div>
        <div class="valor">
            <div class="arriba">25</div>
            <div class="abajo">Zona D</div>
        </div>
    </div>
</div>  