<div class="wrapper">
    <div class="text-center mt-4 name">
        Firmware- Rebels
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <label for="Username" class="far fa-user"></label>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <label for="Username"class="fas fa-key"></label>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
</div> 