

<div class="nav-items">
    <div class="nav-item">
        <div routerLink="" routerLinkActive="active">
            <img src="./assets/hogar.png" class="icon" alt="Imagen Home" >
        </div>
        <span>Inicio</span>
    </div>
    <div class="nav-item" routerLink="inventario" routerLinkActive="active">
        <div>
            <img src="./assets/mochila.png" class="icon" alt="Imagen Inventario">
        </div>
        <span>Inventario</span>
    
    </div>
    <div class="nav-item" routerLink="bodega" routerLinkActive="active">
        <div>
            <img src="./assets/almacenamiento.png" class="icon" alt="Imagen bodegas" >
        </div>
        <span>Bodegas</span>
    </div>
    <div class="nav-item">
        <div routerLink="movimientos" routerLinkActive="active">
            <img src="./assets/transferir.png" class="icon" alt="Imagen Movimientos" >
        </div>
        <span>Movimientos</span>
    </div>
</div>